*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font:bold 12px Arial, Helvetica, sans-serif;
    background-color: black;
}
#deal{
    border: 1px solid #606060;
                color: white;
                padding: 40px;
                border-radius: 10px;
                background-color: #222222;
}
#deal h1{
    font-size: 3rem;
    margin-bottom: 1rem;
    background:linear-gradient(rgb(201, 132, 5),white,green);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
#deal #count-down{
    list-style: none;
    display: flex;
    font-size: 90px;
    gap: 55px;
    
}
#deal #count-down span{
    font-size: 30px;
    background:linear-gradient(rgb(201, 132, 5),white,green);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
